body {
  background: linear-gradient(to top right, #36d1dc, #5b86e5);
  margin: 0;
  min-height: 100vh;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
}

.page-title {
  color: #e8e8e8;
}

strong {
  color: #f2f2f2;
  font-size: 120%;
}

.Card-container {
  justify-content: space-around;
  margin: auto;
  padding: 0;
  width: 95%;
}

.card {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 1px 3px #00000070;
  cursor: pointer;
  display: inline-block;
  height: 20rem;
  margin: 1%;
  transition-duration: 0.4s;
  width: 18%;
}

.card:hover {
  background-color: #e8e8e8;
  box-shadow: 0 2px 3px #00000060;
}

.card-title {
  color: #5b86e5;
}

.card-list {
  background-color: #e8e8e8;
  border-radius: 8px;
  height: calc(100% - 6rem);
  margin: auto;
  padding: 8px 0;
  width: calc(100% - 2rem);
}

.card-list li {
  color: #444;
  list-style: none;
}

.li-inner-div {
  display: inline-flex;
}

.li-inner-div p {
  margin: 0;
  width: 5rem; 
}

.card:hover .card-list {
  background-color: #e0e0e0;
  transition-duration: .5s;
}

.li-inner-p-left {
  padding-left: 8px;
  text-align: center; 
}

.li-inner-p-right {
  padding-right: 8px;
  text-align: center;
}
